body, html {
    margin: 0;
    padding: 0;
    background-color: black !important;
    max-height: 100vh;
}

#gameview {
    max-width: none;
    max-height: none;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

#gameContainer {
    aspect-ratio: 1920 / 1080;
    position: absolute;
    max-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spacer {
    min-height: 30px;
}

.overlay {
    z-index: 1000;
}

#loginDropModal {
    background-color: black;
}

.overlay-container {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1; /* Sit on top */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
    aspect-ratio: 1920 / 1080;
    position: absolute;
    max-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.overlay-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; Could be more or less, depending on screen size */
    height:  50%;
    width: 50%;
  }